@import "../mixins/miwt-switch";
@import "../components/dashboard";
@import "../components/rollup-toggle-switch";

.roll-up-mode-toggle-switch {
  position: absolute;
  top: 303px;
  left: 275px;
  z-index: 10;
}

//TEMP FIX FOR ECSELL-548
.table-part tr.odd {
  &.joint-event-activity-event-date td.label {
    padding-left: 20px;

    &::before {
      content: '-';
      margin-right: 5px;
    }
  }
}