@import "../../../../../bower_components/bootstrap/scss/mixins";
@import "../../../../../bower_components/bootstrap/scss/mixins/buttons";
@import "../../../../../bower_components/bootstrap/scss/buttons";

.activity-management {
	.prop-wrapper.prop-gen {

		&.team-meeting-viewer,
		&.team-meeting-editor {

			.prop.tracked {

				.cb-field .ctb.label-after {
					display: block;
					margin-bottom: 5px;
				}
			}
		}

		&.team-meeting-viewer {

			> .prop-footer .prop-footer-actions {
				display: none;
			}
		}
	}
}